/* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/*
afternoon chai
rgb(207,194,145)
rgb(255,246,197)
rgba(0,112,255, 0.5)
rgb(255,113,44)
rgb(105,93,70)

*/

/* #Page Styles
================================================== */
/*-----------------------background-----------------*/
.vics-image{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;


}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
  font: 87.5%/1.5em 'Helvetica', sans-serif;
  margin: 0;
}

html {
font-family: "Arial";
font-size: 100%;
font-weight: 400;
line-height: 1.53333;
color: black;
background-color: #fff;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: none;
letter-spacing: 0.05em;
 font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}
article{
	font-family: 'Helvetica';
}

.group:after{
	content:"";
	display: table;
	clear:both;
}

h4{
	font-family: 'Helvetica';
	color: black;
	padding-left: 0.3em;
}
p{
	font-family: 'Helvetica';
}
h2{
	font-family: 'Helvetica';
	padding-top: 0.5em;
}


i{
		z-index: 1000;
	color:white;
	position: relative;
	font-size: 0.5em;
	/*width: 5em;
	height: 5em;*/
}

a{
	text-decoration: none;
	color: #444;
}

img{
	width: 100%;
	height: auto;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;

}

.logo{
	white-space:nowrap;
	/*overflow: hidden;*/
	color: rgb(0,112,255);

}
.container{
	max-width: 95%;
	margin: auto;
	z-index: 10000;
}
.clear{
	clear:both;
}



.main>article{
	margin-bottom: 2em;
	position: relative;
}


.container nav{
	height:0em;
	transition:height 2s ease;
	overflow: hidden;
}

.container nav.show{
	height:20em;
}
.author-images img {
width: 80px;
border: 3px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
border-radius: 100%;
position: relative;
margin-left: 2em;
margin-top: 1em;
width: 80px;
height: 80px;

}
.author{
	position: relative;
	margin-top: 0.5em;
	color: white;
	/*margin-left: 2em;*/
	text-align: center;
}

/* #Media Queries
================================================== */

	ul a{
		display: block;
		line-height: 1.61em;
		text-transform:uppercase;
		padding: 0.25em 0 0.25em 2em;
		border:thin solid transparent;
		border-bottom: thin dotted white;
		color: white;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	ul a:hover, .button{
		background: #CFE6E6; /* Old browsers */
		color: black;


	}

	#navHandle{
		position: absolute;
		top:1em;
		right: 0
	}

/*Tablet inclusive*/
@media only screen and (min-width: 20em) {

	header{
		position: relative;
		border-bottom: none;
	}

	#navHandle{
		display: none;
	}

	ul li{
		width: 33.333333%;
		float: left;
		color: white;
		z-index: 1000;
	}

	.container nav{
		height:auto;

	}

	.container nav.show{
		height:auto;
	}
	.group{
		z-index: 1000;
	}

}

/*Big tablet inclusive*/
@media only screen and (min-width: 30em) {

	header{
		position: relative;
	}

	.main>article{
		width: 47%;
		float:left;
	}

	.main>article:nth-of-type(2n+1){
		clear:both;
	}

	.main>article:not(:nth-of-type(2n+1)){
		margin-left: 5%;
	}

}


/*Small Laptop inclusive*/
@media only screen and (min-width: 40em) {


	ul li{
		width: 60%;
		float: none;
	}

	header{
		width: 35%;
		position: fixed;
	}

	.main{
		width: 65%;
		float: right;
	}

	footer{
		clear:both;
	}
		.group{
		z-index: 1000;
	}

	/*undo previous setting*/

		.main>article{
			width: 100%;
			/*float:none;*/
		}

		.main>article:nth-of-type(2n+1){
			clear:none;
		}

		.main>article:not(:nth-of-type(2n+1)){
			margin-left: 0;
		}


}

/*Big Laptop inclusive*/
@media only screen and (min-width: 50em) {



	.main>article{
		width: 47%;
		float:left;
	}

	.main>article:nth-of-type(2n+1){
		clear:both;
	}

	.main>article:not(:nth-of-type(2n+1)){
		margin-left: 5%;
	}

}

/*Desktop inclusive*/
@media only screen and (min-width: 60em) {

	header{
		width: 25%;
		
	}

	.main{
		width: 75%;

	}

	.main>article{
		width: 32%;
		float:left;
	}

	/*undo previous setting*/

		.main>article:nth-of-type(2n+1){
			clear:none;
		}

		.main>article:not(:nth-of-type(2n+1)){
			margin-left: 0;
		}

	.main>article:nth-of-type(3n+1){
		clear:both;
	}

	.main>article:not(:nth-of-type(3n+1)){
		margin-left: 2%;
	}
		.group{
		z-index: 1000;
	}



}

/*very big screen - inclusive*/

@media only screen and (min-width: 80em) {



	header{
		width: 25%;
		position: relative;
		float: left
	}

	.container{
		max-width: 80em;
		margin: auto;
	}


}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
